.book-box {
    position: relative;
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    display: inline-block;
}

.book-title {
    cursor: pointer;
}

.font-12 {
    font-size: 12px;
}

.author {
    position: absolute;
    float: right;
    bottom: 6px;
    right: 10px;
}