<div class="cart-wrapper">
  <div class="row">
    <div class="col-sm-4">
      <label>Title:</label>
    </div>
    <div class="col-sm-6">
      {{ book?.title }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>Author:</label>
    </div>
    <div class="col-sm-6">
      {{ book?.author }}
    </div>
  </div>
</div>
<div class="cart-wrapper">
  <div class="row">
    <div class="col-sm-4">
      <label>Description:</label>
    </div>
    <div class="col-sm-6">
      {{ book?.description }}
    </div>
  </div>
</div>
<div class="cart-wrapper">
  <div class="row">
    <div class="col-sm-4">
      <label>ISBN:</label>
    </div>
    <div class="col-sm-6">
      {{ book?.isbn }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>Pages:</label>
    </div>
    <div class="col-sm-6">
      {{ book?.pages }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>Published:</label>
    </div>
    <div class="col-sm-6">
      {{ book?.published }}
    </div>
  </div>
</div>
<br>