.header-wrapper {
    background-color: #007bff;
    position: fixed;
    left: 0;
    right: 0;
    padding: 30px;
    z-index: 1;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

